h1{
    color: pink;
}

body{
    color: aliceblue;
    text-align: center;
    background-image: linear-gradient(to right, rgb(194, 31, 226), rgb(72, 211, 141) );
}

.tamanho{
    width: 200px; margin: 5PX;
}
